/* General */
hr.style-one {
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #5C5858, #ccc);
    background-image: -moz-linear-gradient(left, #ccc, #5C5858, #ccc);
    background-image: -ms-linear-gradient(left, #ccc, #5C5858, #ccc);
    background-image: -o-linear-gradient(left, #ccc, #5C5858, #ccc);
}

a:hover {
    text-decoration: none;
    color: orangered;
}

.scrollToTop{
    width: 54px;
    height: 50px;
    text-decoration: none;
    position:fixed;
    bottom:75px;
    right:40px;
    display:none;
    border: 2px solid #000;
    border-radius: 5px;
    background: url('images/arrowup.png') no-repeat 0px 0px;
}

.scrollToTop:hover{
    text-decoration:none;
}

/* Side Menu Section */
#weatherWarnings, #smhiJobs {
    height: 200px;
    overflow-y: auto;
    overflow-x: auto;
}

/* Post Section */
.post-wrapper {
    margin-bottom: 40px;
    border-bottom: 2px solid #999999;
    border-radius: 5px;
}

.post-editormenu {
    font-size: small;
    padding: 5px 10px 5px 10px;
    text-align: center;
}

.post-title {
    float: left;
    margin-top: -7px;
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}

.post-date {
    width: 55px;
    height: 61px;
    float:right;
    background: url(images/date-bg.gif) no-repeat;
}

.post-month {
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    color: #5C5858;
    text-align: center;
    display:block;
    line-height: 11px;
    padding-top: 3px;
    margin-left: -3px;
}
.post-day {
    font-size: 25px;
    text-transform: uppercase;
    color: #5C5858;
    text-align: center;
    display:block;
    line-height: 19px;
    padding-top: 13px;
    margin-left: -5px;
}

.post-content {
    font-size: 1.2em;
    text-align: left;
    padding: 5px 10px 5px 0;
    border-bottom: 1px dashed #999999;
    border-top: 1px dashed #999999;
    word-wrap: break-word;
    clear: both;
}

.post-menu {
    font-size: 1.2em;
    padding-top: 10px;
}

/* Comment Section */
.comment {
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #5C5858;
    border-bottom-width: 2px;
}

.comment .content {
    margin: 10px 0;
    font-size: 1.2em;
    word-wrap: break-word;
    padding: 5px 10px 5px 0;
    border-bottom: 1px dashed #999999;
    border-top: 1px dashed #999999;
}

.comment .author {
    padding: 2px;
    font-size: 0.8em;
}

.comment .time {
    color: #888;
    padding: 2px;
    font-size: 0.8em;
}

.comment a.cid {
    color:#CCC;
    float:right;
    font-size:1.5em;
    font-weight:bold;
    padding:0 5px 5px 5px;
    text-decoration: none;
}

.comment a.cid:hover {
    color:#555;
}

.comment .pending {
    color:red;
}

textarea {
    resize:vertical;
}

/* Private Message Section */
.message-header {
    border-bottom: 3px solid #5C5858;
    clear: both;
    padding: 2px;
    font-weight: bold;
    float: left;
}

.message-row {
    border-bottom: 1px dashed #5C5858;
    clear: both;
    padding: 5px;
    font-weight: lighter;
    cursor: cell;
}

.message-content {
    clear: both;
    padding: 10px 10px 10px 0;
    border-bottom: 2px solid #5C5858;
}

.message-sendtime {
    float: right;
}

.message-content-to, .message-content-from {
    padding-left: 20px;
    word-wrap: break-word;
    height: 300px;
    overflow-y: auto;
}

.message-row-active {
    background: #EFEFEF;
}

.message-info-from, .message-info-to {
    text-align: center;
    padding-left: 0;
}

/* Airport/Airline section */
div[id^="map-canvas-"] {
    width: 340px;
    height: 340px;
}

.airport-table-header {
    border-bottom: 2px solid #5C5858;
    float: right;
    text-align: center;
    width: 50%;
    font-weight: bold;
    font-size: 20px;
    padding: 5px;
}

.airport-detailed-header {
    border-bottom: 2px solid #5C5858;
    padding: 10px;
}

.airline-float {
    text-align: center;
}

.airport-content {
    clear: both;
    padding: 10px 10px 10px 0;
    border-bottom: 2px solid #5C5858;
}

.airport-row-active, .airline-row-active {
    background: #EFEFEF;
}

.airport-row, .airline-row{
    border-bottom: 1px dashed #5C5858;
    clear: both;
    padding: 5px;
    font-weight: lighter;
    cursor: cell;
}

.airport-header, .airline-header {
    border-bottom: 3px solid #5C5858;
    clear: both;
    padding: 2px;
    font-weight: bold;
    float: left;
}

/* Gallery Section */
.albumthumbnail, .gallerythumbnail {
    border: 5px solid #EBEBEB;
    border-radius: 30px;
}

.divalbum {
    text-align: center;
    border-bottom: 1px solid #EBEBEB;
}

.imagepadding {
    padding: 5px;
}
